name: Auth Service CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install
        run: npm install

      - name: Test
        run: npm test || echo "No tests yet"

      - name: Build Docker
        run: docker build -t auth-service .

      - name: Push Docker (Optional)
        run: echo "Add Docker registry if needed"
